-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_wangyang_water
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `billing_cycles`
--

DROP TABLE IF EXISTS `billing_cycles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `billing_cycles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cycle_code` varchar(20) NOT NULL,
  `month` int(11) NOT NULL,
  `year_be` int(11) NOT NULL,
  `reading_start_date` date NOT NULL,
  `reading_end_date` date NOT NULL,
  `due_date` date NOT NULL,
  `tariff_rate_id` int(11) NOT NULL,
  `status` varchar(20) DEFAULT 'OPEN',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `cycle_code` (`cycle_code`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_cycles`
--

LOCK TABLES `billing_cycles` WRITE;
/*!40000 ALTER TABLE `billing_cycles` DISABLE KEYS */;
INSERT INTO `billing_cycles` VALUES (1,'8-2567',8,2567,'2567-08-25','2567-08-28','2567-09-10',1,'OPEN','2026-09-27 14:57:32');
/*!40000 ALTER TABLE `billing_cycles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_code` varchar(30) NOT NULL,
  `seq_no` int(11) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `house_no` varchar(50) NOT NULL,
  `zone` varchar(100) NOT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `meter_serial` varchar(50) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'ACTIVE',
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `customer_code` (`customer_code`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meter_readings`
--

DROP TABLE IF EXISTS `meter_readings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meter_readings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `billing_cycle_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `previous_reading` decimal(10,2) NOT NULL DEFAULT 0.00,
  `current_reading` decimal(10,2) NOT NULL DEFAULT 0.00,
  `units_used` decimal(10,2) NOT NULL DEFAULT 0.00,
  `rate_per_unit` decimal(10,2) NOT NULL DEFAULT 7.00,
  `water_charge` decimal(10,2) NOT NULL DEFAULT 0.00,
  `maintenance_fee` decimal(10,2) NOT NULL DEFAULT 10.00,
  `current_total` decimal(10,2) NOT NULL DEFAULT 10.00,
  `previous_arrears` decimal(10,2) DEFAULT 0.00,
  `grand_total` decimal(10,2) NOT NULL DEFAULT 10.00,
  `amount_paid` decimal(10,2) DEFAULT 0.00,
  `remaining_balance` decimal(10,2) DEFAULT 0.00,
  `payment_status` varchar(20) DEFAULT 'UNPAID',
  `payment_date` date DEFAULT NULL,
  `receipt_no` varchar(50) DEFAULT NULL,
  `reading_date` date NOT NULL,
  `reader_name` varchar(100) DEFAULT NULL,
  `remarks` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_cycle_customer` (`billing_cycle_id`,`customer_id`),
  KEY `idx_reading_cycle` (`billing_cycle_id`),
  KEY `idx_reading_cust` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meter_readings`
--

LOCK TABLES `meter_readings` WRITE;
/*!40000 ALTER TABLE `meter_readings` DISABLE KEYS */;
/*!40000 ALTER TABLE `meter_readings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monthly_financial_reports`
--

DROP TABLE IF EXISTS `monthly_financial_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `monthly_financial_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `billing_cycle_id` int(11) NOT NULL,
  `rev_water_maintenance` decimal(12,2) DEFAULT 0.00,
  `rev_collected_arrears` decimal(12,2) DEFAULT 0.00,
  `rev_new_meter_fee` decimal(12,2) DEFAULT 0.00,
  `rev_bank_interest` decimal(12,2) DEFAULT 0.00,
  `rev_other` decimal(12,2) DEFAULT 0.00,
  `total_revenue` decimal(12,2) NOT NULL,
  `exp_caretaker` decimal(12,2) DEFAULT 0.00,
  `exp_committee` decimal(12,2) DEFAULT 0.00,
  `exp_collector` decimal(12,2) DEFAULT 0.00,
  `exp_electricity` decimal(12,2) DEFAULT 0.00,
  `exp_supplies_repairs` decimal(12,2) DEFAULT 0.00,
  `exp_other` decimal(12,2) DEFAULT 0.00,
  `total_expense` decimal(12,2) NOT NULL,
  `net_profit_loss` decimal(12,2) NOT NULL,
  `prev_accumulated_balance` decimal(12,2) NOT NULL,
  `total_accumulated_balance` decimal(12,2) NOT NULL,
  `cash_in_hand` decimal(12,2) DEFAULT 5000.00,
  `bank_deposit` decimal(12,2) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `billing_cycle_id` (`billing_cycle_id`),
  CONSTRAINT `monthly_financial_reports_ibfk_1` FOREIGN KEY (`billing_cycle_id`) REFERENCES `billing_cycles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monthly_financial_reports`
--

LOCK TABLES `monthly_financial_reports` WRITE;
/*!40000 ALTER TABLE `monthly_financial_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `monthly_financial_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_vouchers`
--

DROP TABLE IF EXISTS `payment_vouchers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_vouchers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `voucher_no` varchar(50) NOT NULL,
  `billing_cycle_id` int(11) NOT NULL,
  `voucher_date` date NOT NULL,
  `recipient_name` varchar(150) NOT NULL,
  `recipient_position` varchar(100) NOT NULL,
  `voucher_type` varchar(50) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `amount_text_th` varchar(255) NOT NULL,
  `calculation_basis` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `approved_by` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `voucher_no` (`voucher_no`),
  KEY `billing_cycle_id` (`billing_cycle_id`),
  CONSTRAINT `payment_vouchers_ibfk_1` FOREIGN KEY (`billing_cycle_id`) REFERENCES `billing_cycles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_vouchers`
--

LOCK TABLES `payment_vouchers` WRITE;
/*!40000 ALTER TABLE `payment_vouchers` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_vouchers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_tickets`
--

DROP TABLE IF EXISTS `service_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_tickets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_no` varchar(50) NOT NULL,
  `reporter_name` varchar(100) NOT NULL,
  `phone` varchar(30) NOT NULL,
  `house_no` varchar(50) NOT NULL,
  `zone` varchar(100) NOT NULL,
  `issue_type` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `status` varchar(30) DEFAULT 'PENDING',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `resolved_at` timestamp NULL DEFAULT NULL,
  `repair_notes` text DEFAULT NULL,
  `repair_cost` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_no` (`ticket_no`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_tickets`
--

LOCK TABLES `service_tickets` WRITE;
/*!40000 ALTER TABLE `service_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tariff_rates`
--

DROP TABLE IF EXISTS `tariff_rates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tariff_rates` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `rate_per_unit` decimal(10,2) NOT NULL,
  `maintenance_fee` decimal(10,2) NOT NULL DEFAULT 10.00,
  `effective_from` date NOT NULL,
  `effective_to` date DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `resolution_details` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tariff_rates`
--

LOCK TABLES `tariff_rates` WRITE;
/*!40000 ALTER TABLE `tariff_rates` DISABLE KEYS */;
INSERT INTO `tariff_rates` VALUES (1,'เธกเธเธดเธเธตเนเธเธฃเธฐเธเธธเธกเธชเธฑเธเธเธฃ เธเธฃเธฑเธเธเนเธฒเธเนเธณ 7 เธเธฒเธ/เธฅเธ',7.00,10.00,'2567-01-01',NULL,1,'เธกเธเธดเธเธเธฐเธเธฃเธฃเธกเธเธฒเธฃเธเธฒเธฃเธเธฃเธฐเธเธฒเธซเธกเธนเนเธเนเธฒเธเธงเธฑเธเธขเธฒเธ เธเนเธฒเธเธฃเธดเธเธฒเธฃเธกเธฒเธเธฃ 10 เธเธฒเธ/เนเธเธทเธญเธ');
/*!40000 ALTER TABLE `tariff_rates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `water_loss_logs`
--

DROP TABLE IF EXISTS `water_loss_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `water_loss_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cycle_code` varchar(20) NOT NULL,
  `production_volume` decimal(12,2) NOT NULL,
  `billed_volume` decimal(12,2) NOT NULL,
  `loss_volume` decimal(12,2) NOT NULL,
  `loss_percentage` decimal(5,2) NOT NULL,
  `estimated_loss_cost` decimal(12,2) NOT NULL,
  `notes` text DEFAULT NULL,
  `logged_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `water_loss_logs`
--

LOCK TABLES `water_loss_logs` WRITE;
/*!40000 ALTER TABLE `water_loss_logs` DISABLE KEYS */;
INSERT INTO `water_loss_logs` VALUES (1,'8-2567',240.00,197.00,43.00,17.92,301.00,'ตรวจพบจุดรั่วซึมท่อเมนคุ้มเหนือ กำลังเข้าซ่อม','2026-09-27 16:34:22');
/*!40000 ALTER TABLE `water_loss_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-28 19:30:18
